Repository cellml/libcellml, pull requests merged in 2024-03, with the labels that each got.

#1215 Protect against empty classifiers in Python bindings.
  src/bindings/python/cibuildwheel.setup.py
  src/bindings/python/pre_gen.setup.in.py
Labels: Python bindings

#1192 Fix some of the links in the documentation.
  docs/coding_standards.rst
  docs/conf.in.py
  docs/glossary.rst
Labels: Documentation

#1212 Analyser: improve the reporting of unit-related issues with the pow() function
  src/analyser.cpp
  src/debug.cpp
  src/debug.h
  src/generator.cpp
  src/generator_p.h
  src/utilities.cpp
  tests/analyser/analyserunits.cpp
  tests/resources/analyser/units/power_values.cellml
Labels: Analyser
